{% extends "base.html" %}
{% block title %}Stockie | Research Page{% endblock %}
{% block content %}
	<form id="tckrEntry" action="{{url_for('StockAnalysis.research')}}" method="post" style="position: relative; top: -25px; left: 0px;">
		<label for="ticker">Pick Ticker to research:</label>
		<input type="text" id="ticker" name="tckr" placeholder="Ticker">
		<button name="action" value="Add" id="submitButton" type="submit">Add</button>
	</form>
	{% if researchArr %}
	<div style="background-color: gray; border-radius:10px;">
		<h1>{{ticker}} Financials</h1><br>
		{% for x in researchArr %}
			{% if x[2] != "" %}
			<h1>{{x[2]}}</h1><br>
			{% endif %}
			<p>{{x[0]}}, {{"{:,}".format(x[1])}}</p><br>
		{% endfor %}
	</div>
	{% endif %}	
{% endblock %}