{% extends "base.html" %}
{% block title %}Stockie | Research Page{% endblock %}
{% block content %}
	<form id="tckrEntry" action="{{url_for('StockAnalysis.research')}}" method="post" style="position: relative; left: 500px;">
		<label for="ticker">Ticker:</label>
		<input type="text" id="ticker" name="tckr" placeholder="ticker">
		<button name="action" value="Add" id="submitButton" type="submit">Add</button>
	</form>
	{% if researchStats %}
		{% for x in researchStats %}
			<p>{{x.label}}, {{x.value}}</p>
		{% endfor %}
	{% else %}
		<p>Enter a stock to research</p>
	{% endif %}	
{% endblock %}