<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" href="static/style.css"/>
		<title>Home Page</title>
	</head>
	<body style="background-color:black;">
		<nav class="nav">
		  <a class="nav-link active" style="position: absolute; top: 1%;left: 0%;" href="/">Home</a>
		  <a class="nav-link" style="position: absolute; top: 1%;left: 5%;" href="/markets">Markets</a>
		  <a class="nav-link" style="position: absolute; top: 1%;left: 10%;" href="/research">Research</a>
		  <input type="text" placeholder="Search Ticker... Ex: $TSLA" style="position: absolute; top: 2%;left: 50%; transform: translateX(-50%); width: 500px">
		</nav>
		<div class="panel panel-default" style="height: 75%; max-height: 80%; position: absolute; top: 50%; left: 50%; transform: translateX(-50%) translateY(-50%); color: white">
    		<h1>Your Tickers</h1>
    		
  			<br>
  			<h1>Your Industries</h1>
  			<div class="panel-body" style="background-color: gray; width: 800px; height: 200px; border-radius:10px;">A Basic Panel</div>
  			<br>
  			<h1>Your News</h1>	
  			<div class="panel-body" style="background-color: gray; width: 800px; height: 200px; border-radius:10px;">A Basic Panel</div>
		</div>
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	</body>
</html>